body {}


button.button {
  background-color: crimson;
  height: 300px;
  width: 150px;}

.door-knob {
  height: 40px;
  float: right;
}
h1{
color: rgb(231, 204, 50);
text-align: center;
position: fixed;
margin-left: 5px;
margin-right: 5px;
font-size: 100px;
width: 97.5%;
height: 60px;
}