body {}
    

button.button 
{
    background-image: url("images/christmas tree.png");
    height: 300px;
width: 150px;
font: italic 1.2em "Fira Sans", serif;}

.door-knob 
{height: 100px; 
    float: right;
}

