body {
}

.button {
  background-color: #FE211A;
  height: 300px;
  width: 150px;
  font: italic 1.2em "Fira Sans", serif;
}

.button:hover{
  background-color: #C91813;
}

.door-knob {
  height: 100px;
  float: right;
}

.corner{
  position: relative;
  z-index: -1;
}

.right {
  position: relative;
  float: right;
}

h1{
  color:  rgb(231, 204, 50);
  text-align: center;
  #position: fixed;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 1px;
  font-size: 100px;
  width: 97.5%;
  height: 60px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
}

h3{
  font-family: 'Great Vibes', cursive;
  color: rgb(231, 204, 50);
  text-align: center;
  #position: fixed;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 100px;
  font-size: 50px;
  width: 97.5%;
  height: 60px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
}
/* .links-1-5{
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}*/
