body{
  background-color: #FE211A;
  color: rgb(231, 204, 50);
  background-image: url(https://www.maxpixel.net/static/photo/2x/Red-Christmas-Candle-Symbol-December-Wreath-993920.jpg);
  background-attachment: relative;
  background-size: cover;
}

.title{
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.button{
  border-radius: 20px;
  background-color: #C91813;
  color: rgb(231, 204, 50);
  border: 2px solid rgb(231, 204, 50);
  cursor: pointer;
}

.button:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

h2{
  font-family: 'Great Vibes', cursive;
}

.main{
  background-color: white;
  border-radius: 3%;
  text-align: center;
  background-image: url(https://storage.needpix.com/rsynced_images/red-bauble-decoration-11290006103AmZ.jpg);
  background-attachment: relative;
  background-size: cover;
  font-size: 20px;
  color: #820301;
}

.text{
  display: inline-block;
}

img{
  border-radius: 5%;
}

.right {
  position: relative;
  float: right;
  padding-right: 10px;
}

.left {
  position: relative;
  float: left;
  padding-left: 10px;
}

#top{
  /*margin-bottom: -150px;*/
  padding-top: 10px;
}

#bottom{
  margin-top: 0px;
  padding-bottom: 10px;
}
